@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 10%;
    --card-foreground: 213 31% 91%;
    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;
    --primary: 210 100% 71%;
    --primary-foreground: 224 71% 4%;
    --secondary: 224 71% 15%;
    --secondary-foreground: 213 31% 91%;
    --muted: 224 71% 15%;
    --muted-foreground: 216 12% 72%;
    --accent: 210 100% 81%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 213 31% 91%;
    --border: 224 71% 15%;
    --input: 224 71% 15%;
    --ring: 210 100% 71%;
    --chart-1: 210 100% 71%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 10%;
    --card-foreground: 213 31% 91%;
    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;
    --primary: 210 100% 71%;
    --primary-foreground: 224 71% 4%;
    --secondary: 224 71% 15%;
    --secondary-foreground: 213 31% 91%;
    --muted: 224 71% 15%;
    --muted-foreground: 216 12% 72%;
    --accent: 210 100% 81%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 213 31% 91%;
    --border: 224 71% 15%;
    --input: 224 71% 15%;
    --ring: 210 100% 71%;
    --chart-1: 210 100% 71%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}